<div style="margin: auto; width: 75%">
    <h1 style="margin: auto">Error 404: Looks likes you found a <span style="color: red">murdered</span> link!</h1>
    <br><br>
    <img src="assets/pictures/alan.jpg" style="margin: auto; width: 25%">
    <p>"I killed it. I drowned it. Just like the runt of a litter. Just drowned it." -Alan</p>
</div>