<h1 style="text-align: center;">Alan's Famous Quotes:</h1>
<iframe src="https://docs.google.com/document/d/e/2PACX-1vRp6oMAiBllHsEQRntnIRskJ0gUGoMg6akjBKxpa7HtqmpE4KSTSvsSikz9EHucYmyB7te7OZENQKul/pub?embedded=true"></iframe>
<br><br><br><br><br>
<h1 style="text-align: center;">Quotes Bot:</h1>
<p>I made a discord bot for Alan’s Famous Quotes called “quotes bot” that prints random quotes when requested. 
  The commands are qhelp, qn [number] for a specific quote, qr for a random quote, and qr [number] for that many random quotes. 
  Although it would probably be best to make a separate channel exclusively for the bot. You can add it to any sever you own by  
  <a href="https://discord.com/api/oauth2/authorize?client_id=790648186560970782&permissions=2048&scope=bot">clicking here</a>.
</p>
