<h2>What is Alan's Birthday Betting:</h2>
<p>
    Betting is one component of the Alan Credits event at Alan's Birthday X. In the event, competitors may bet on who they 
    think will win each game, the only requirements are that they have at least one Alan Credit to bet and that they are not 
    competiting in the game. Odds are displayed in decimal format. If you select the correct winner you simply need to multiply 
    the amount that you betted on the winner by the winner's decimal betting odds to determine how much your winnings are. 
    These betting odds are determined using each person's categorical ELO scores. <br><br> To use the following betting calculator 
    simply enter each of the competitors and the category of game they are competiting in and click on the "Calculate Odds" 
    button. Then the website will display each competitor's name, picture, category ELO score, percent chance to win, 
    and betting odds. Next, enter the amount of Alan Credits you bet on the winner, and click on the winner button for the person 
    who won. Your winnings will then be calculated and displayed.
</p>
<h2>What are ELO Scores:</h2>
<p>
    ELO scoring is a method of accessing player's abilities at games. It is commonly used in games such as chess for rating players. 
    In it, everyone starts with a score of 1000, for each game played the odds of winning are calculated and points are moved from the 
    loser to the winner based on those odds. For Alan's Birthday, these scores go all the way back to the beginning, with year 1 in 2012. 
    Each tournament done has been classified as either Hunger Games, Athletics, Board/Card Game, Table Game, Video Game, Speedrun, or 
    Super Smash Bros. Each person has a separate score for each of these classification of games. In the head to head style of betting, 
    you can update the scores for the competitors after determining the winner. However, these scores are only changed locally and will 
    be reset upon refreshing the page.
</p>
<h2>Styles of Betting:</h2>
<p>
    There are two styles of betting: head to head and pool. Head to head is used for individual games between two people, like is common 
    with the individual tournaments. Meanwhile, pool betting can be used for when multiple people are playing the game at the same time, 
    like is common with free for all tournaments like the Hunger Games or for betting on overall touranemtn winners. 
    In addition, pool betting can also be used for the triathlon event.  
    When doing so, you must enter the triathlon distance because it will be assigned its own score so people can bet on whether the 
    competitor will finish the triathlon or not. 
</p>
<h2>Please Select a style of betting:</h2>
<button onclick="location.href = 'bet-head-to-head'">Head to Head (Game Winners)</button><br><br>
<button onclick="location.href = 'bet-pool'">Pool (Tournament Winners)</button>