<p>
    <h2>Select the competition that you are interested in:</h2>
    <ul>
        <li><a href="#Reunion1">Reunion 1 (2020)</a></li>
        <li><a href="#Reunion2">Alan's Birthday X (2021)</a></li>
    </ul>
</p>
<br>
<h1>Alan's Birthday Reunions:</h1>
<a name="Reunion1"></a>
<h2>Reunion 1:</h2>
<p>This was the first reunion and nineth year of Alan's Birthday competitions. 
    There were nine competitors: Adam, Alan, Chris, Cole, Dakota, Harrison, McLean, Nat, and Zach; 
    and there were five competitions: Badminton, Hunger Games, Smash Ultimate, Mario 1, and Cribbage.
    This year's point system consisted of 100 point for first place and a proportional based on the number of people 
    who competed. Only each person's three best scores were used for determining overall placement.</p>
<p>Here are the results:</p>
<table>
    <tr>
        <th></th>
        <th>Badminton</th>
        <th>Hunger Games</th>
        <th>Smash Ultimate</th>
        <th>Cribbage</th>
        <th>Mario 1</th>
        <th class="divider">Final Scores</th>
        <th>Final Results</th>
    </tr>
    <tr>
        <th>Adam</th>
        <td class="first">1st</td>
        <td class="first">1st</td>
        <td class="first">1st</td>
        <td class="first">1st</td>
        <td class="first">1st</td>
        <td class="divider">300.00</td>
        <td class="first">1st</td>
    </tr>
    <tr>
        <th>Alan</th>
        <td class="third">3rd</td>
        <td>6th</td>
        <td>5th</td>
        <td>4th</td>
        <td>4th</td>
        <td class="divider">129.76</td>
        <td>5th</td>
    </tr>
    <tr>
        <th>Chris</th>
        <td>4th</td>
        <td class="DNP">-</td>
        <td class="DNP">-</td>
        <td class="DNP">-</td>
        <td class="DNP">-</td>
        <td class="divider">57.14</td>
        <td>8th</td>
    </tr>
    <tr>
        <th>Cole</th>
        <td class="DNP">-</td>
        <td class="DNP">-</td>
        <td>5th</td>
        <td class="second">2nd</td>
        <td class="third">3rd</td>
        <td class="divider">141.67</td>
        <td>4th</td>
    </tr>
    <tr>
        <th>Dakota</th>
        <td>5th</td>
        <td>5th</td>
        <td>7th</td>
        <td class="DNP">-</td>
        <td class="DNP">-</td>
        <td class="divider">62.26</td>
        <td>7th</td>
    </tr>
    <tr>
        <th>Harrison</th>
        <td>7th</td>
        <td>4th</td>
        <td class="third">3rd</td>
        <td class="second">2nd</td>
        <td class="second">2nd</td>
        <td class="divider">208.33</td>
        <td class="third">3rd</td>
    </tr>
    <tr>
        <th>McLean</th>
        <td class="second">2nd</td>
        <td class="second">2nd</td>
        <td class="second">2nd</td>
        <td>5th</td>
        <td class="DNP">-</td>
        <td class="divider">249.05</td>
        <td class="second">2nd</td>
    </tr>
    <tr>
        <th>Nat</th>
        <td>7th</td>
        <td class="third">3rd</td>
        <td>4th</td>
        <td class="DNP">-</td>
        <td class="DNP">-</td>
        <td class="divider">124.09</td>
        <td>6th</td>
    </tr>
    <tr>
        <th>Zach</th>
        <td>5th</td>
        <td class="DNP">-</td>
        <td class="DNP">-</td>
        <td class="DNP">-</td>
        <td class="DNP">-</td>
        <td class="divider">42.86</td>
        <td>9th</td>
    </tr>
</table>
<br><br>
<a name="Reunion2"></a>
<h2>Alan's Birthday X:</h2>
<p>This was the second reunion and tenth year of Alan's Birthday competitions. 
    For the Individual Event there were five tournaments: Cornhole, Super Mario Bros. Speedrun, Mario Tennis Aces, 
    Chess, and Super Smash Bros. Ultimate (the Ping Pong tournament was cancelled). 
    There were eight competitors: Adam, Alan, Brent, Dakota, Harrison, Jack, McLean, and Noah. 
    And the point system consisted of 12 points for first, 9 points for second, 6 points for third, 
    4 points for fourth, 3 points for fifth/sixth, and 2 points for seventh/eighth 
    (Note that the point system was originally planned for 12 people). 
    In addition, the tiebreaker tournament was a Breath of the Wild speedrun. 
</p>
<table>
    <tr>
        <th></th>
        <th>Cornhole</th>
        <th>Mario Bros Speedrun</th>
        <th>Mario Tennis Aces</th>
        <th>Chess</th>
        <th>Smash Ultimate</th>
        <th class="divider">Final Scores</th>
        <th>Final Results</th>
    </tr>
    <tr>
        <th>Adam</th>
        <td class="first">1st (12)</td>
        <td class="first">1st (24)</td>
        <td class="first">1st (36)</td>
        <td class="first">1st (48)</td>
        <td class="first">1st (60)</td>
        <td class="divider">60</td>
        <td class="first">1st</td>
    </tr>
    <tr>
        <th>Alan</th>
        <td>5th (3)</td>
        <td>4th (7)</td>
        <td class="second">2nd (16)</td>
        <td>5th (19)</td>
        <td>7th (21)</td>
        <td class="divider">21</td>
        <td class="third">3rd</td>
    </tr>
    <tr>
        <th>Brent</th>
        <td class="third">3rd (6)</td>
        <td class="third">3rd (12)</td>
        <td>7th (14)</td>
        <td>4th (18)</td>
        <td>7th (20)</td>
        <td class="divider">20.1</td>
        <td>4th</td>
    </tr>
    <tr>
        <th>Dakota</th>
        <td>7th (2)</td>
        <td>8th (4)</td>
        <td>7th (6)</td>
        <td>7th (8)</td>
        <td>4th (12)</td>
        <td class="divider">12</td>
        <td>8th</td>
    </tr>
    <tr>
        <th>Harrison</th>
        <td>5th (3)</td>
        <td class="second">2nd (12)</td>
        <td class="third">3rd (18)</td>
        <td class="second">2nd (27)</td>
        <td class="second">2nd (36)</td>
        <td class="divider">36</td>
        <td class="second">2nd</td>
    </tr>
    <tr>
        <th>Jack</th>
        <td class="second">2nd (9)</td>
        <td>7th (11)</td>
        <td>5th (14)</td>
        <td>5th (17)</td>
        <td>5th (20)</td>
        <td class="divider">20</td>
        <td>5th</td>
    </tr>
    <tr>
        <th>McLean</th>
        <td>4th (6)</td>
        <td>6th (7)</td>
        <td>4th (11)</td>
        <td>7th (13)</td>
        <td class="third">3rd (19)</td>
        <td class="divider">19</td>
        <td>6th</td>
    </tr>
    <tr>
        <th>Noah</th>
        <td>7th (2)</td>
        <td>5th (5)</td>
        <td>5th (8)</td>
        <td class="third">3rd (14)</td>
        <td>5th (17)</td>
        <td class="divider">17</td>
        <td>7th</td>
    </tr>
</table>
<br><br>