<h2>History of the Hunger Games:</h2>
<ol>
    <h3><li>The First Hunger Games (Spring 2013; Alan's House):</h3>
        <ul>
            <li><span class="winner">Winner: Adam</span><br>Item: Magic Wand, Nerf Gun, Sword</li><br>
            <li><span class="runnerUp">Second Place: Nat<br>Killed by: Adam using Nerf Gun</li><br>
            <li><span class="thirdPlace">Third Place: Jeremy<br>Killed by: Nat</li><br>
            <li>Fourth Place: Alan<br>Killed by: Adam using Magic Wand</li><br>
            <li>Fifth Place: Gabriel<br>Killed by: Nat using ?</li><br> 
            <li>Sixth Place: Nelson<br>Killed by: Nelson using ? </li><br>
        </ul>
    </li><br>
    <h3><li>The Bloodbath Games (Year 2, 2013; Alan's House):</h3>
        <ul>
            <li><span class="winner">Winner: Cole</span><br>Item: Armor, Nerf Gun</li><br>
            <li><span class="runnerUp">Second Place: Harrison</span><br>Cole using Nerf Gun</li><br>
            <li><span class="thirdPlace">Third Place: Adam</span><br>Killed by: Harrison using Magic Wand</li><br>
            <li>Fourth Place: Parker<br>Killed by Adam using Magic Wand</li><br>
            <li>Fifth Place: Nat<br>Killed by Harrison using Magic Wand</li><br> 
            <li>Sixth Place: Alan<br>Killed by Adam using Magic Wand</li><br>
        </ul>
    </li><br>
    <h3><li>The Park Games (Year 3, 2014; Meadows Park):</h3>
        <ul>
            <li><span class="winner">Winner: Nat</span><br>Items: Magic Wand</li><br>
            <li><span class="runnerUp">Second Place: Adam</span><br>Killed by: Nat using Magic Wand</li><br>
            <li><span class="thirdPlace">Third Place: Alan</span><br>Killed by: Adam using Nerf Gun</li><br>
            <li>Fourth Place: Cole<br>Killed by: Alan using Chain Saw</li><br>
            <li>Fifth Place: Harrison<br>Killed by: Nat using Magic Wand</li><br> 
            <li>Sixth Place: Parker<br>Killed by: Harrison using ?</li><br>
        </ul>
    </li><br>
    <h3><li>The Cougar Games (Year 4, 2015; Clear Lake):</h3>
        <ul>
            <li><span class="winner">Winner: Adam</span><br>Items: Magic Wand + Spells, Nerf Gun</li><br>
            <li><span class="runnerUp">Second Place: Brent</span><br>Killed by: Adam using Magic Wand</li><br>
            <li><span class="thirdPlace">Third Place: Harrison</span><br>Killed by: Adam using Magic Wand</li><br>
            <li>Fourth Place: Cole<br>Killed by: Harrison using Magic Wand</li><br>
            <li>Fifth Place: Alan<br>Killed by: Adam using Magic Wand</li><br> 
            <li>Sixth Place: Nat<br>Killed by: Alan using Magic Wand</li><br>
            <li>Seventh Place: Parker<br>Killed by: Alan using Magic Wand</li><br>
            <li>Eighth Place: Jake<br>Killed by: Nat using Sword</li><br>
        </ul>
    </li><br>
    <h3><li>The Wolverine Games (Year 5, 2016; Whiteaker):</h3>
        <ul>
            <li><span class="winner">Winner: Korey</span><br>Items: Chain Saw, Crossbow, Water Grenades</li><br>
            <li><span class="runnerUp">Second Place: Harrison</span><br>Killed by: Korey using Crossbow</li><br>
            <li><span class="thirdPlace">Third Place: Adam</span><br>Killed by: Korey using Chain Saw</li><br>
            <li>Fourth Place: Cole<br>Killed by: Korey using Cross Bow</li><br>
            <li>Fifth Place: Nat<br>Killed by: Harrison using Sword</li><br> 
            <li>Sixth Place: Alan<br>Killed by Harrison using Sword</li><br>
            <li>Seventh Place: Kasey<br>Killed by: Alan using Sword</li><br>
            <li>Eighth Place: Jacob<br>Killed by: Alan using Sword</li><br>
        </ul>
    </li><br>
    <h3><li>The Celtic Games (Year 6, 2017; McNary):</h3>
        <ul>
            <li><span class="winner">Winner: Cole</span><br>nerf gun, water balloons, sword, and shield</li><br>
            <li><span class="runnerUp">Second Place: Adam</span><br>Killed by: Adam using light saber</li><br>
            <li><span class="thirdPlace">Third Place: Harrison</span><br>Killed by: Adam using light saber </li><br>
            <li>Fourth Place: Kasey<br>Killed by: Cole using water balloon</li><br>
            <li>Fifth Place: Nat <br>Killed by: Cole using water balloon</li><br> 
            <li>Sixth Place: Korey<br>Killed by: Harrison using boxing glove</li><br>
            <li>Seventh Place: Isaac<br>Killed by: Nat using plastic sword</li><br>
            <li>Eighth Place: Zach<br>Killed by: Isaac using dart gun</li><br>
            <li>Ninth Place: Dakota<br>Killed by: Harrison using ?</li><br>
            <li>Tenth Place: Alan<br>Killed by: Harrison using ?</li><br>
        </ul>
    </li><br>
    <h3><li>The Falcon Games (Year 7, 2018; Forest Ridge):</h3>
        <ul>
            <li><span class="winner">Winner: Harrison</span><br>Items: Nerf Pistol, Light Saber</li><br>
            <li><span class="runnerUp">Second Place: Kasey</span><br>Killed by Adam using sword</li><br>
            <li><span class="thirdPlace">Third Place: Adam</span><br>Killed by Kasey using Light Saber</li><br>
            <li>Fourth Place: Korey<br>Killed by Harrison using Light Saber</li><br>
            <li>Fifth Place: Isaac<br>Killed by Kasey using nerf pistol</li><br> 
            <li>Sixth Place: Alan<br>Killed by Harrison using Light Saber</li><br>
            <li>Seventh Place: Cole<br>Killed by Isaac using Light Saber</li><br> 
            <li>Eighth Place: Dakota<br>Killed by Isaac using Light Saber</li><br>
        </ul>
    </li><br>
    <h3><li>The Ultimate Games (Year 8, 2019; Shellburg Forest):</h3>
        <ul>
            <li><span class="winner">Winner: Jack</span><br>Nerf Gun, Plastic Sword, Shield</li><br>
            <li><span class="runnerUp">Second Place: Adam</span><br>Killed by Jack with Sword</li><br>
            <li><span class="thirdPlace">Third Place: Cole</span><br>Killed by Jack with Nerf Gun</li><br>
            <li>Fourth Place: Brent<br>Killed by Cole with Nerf Gun</li><br>
            <li>Fifth Place: McLean<br>Killed by Cole with Nerf Gun</li><br> 
            <li>Sixth Place: Harrison<br>Killed by McLean with Sword?</li><br>
            <li>Seventh Place: Dakota <br>Killed by Harrison with Sword?</li><br> 
            <li>Eighth Place: Alan<br>Killed by Dakota with Nerf Gun?</li><br>
            <li>Ninth Place: Nat<br>Killed by Jack with sword?</li><br> 
            <li>Tenth Place: Nelson<br>Killed by Harrison with boxing glove?</li><br>
        </ul>
    </li><br>
    <h3><li>The First Reunion Games (Year 9, 2020; Clear Lake Forest):</h3>
        <ul>
            <li><span class="winner">Winner: Adam</span><br>Lightsaber, Nerf Machine Gun, Shield, Nerf armor</li><br>
            <li><span class="runnerUp">Second Place: McLean</span><br>Killed by Adam with Lightsaber</li><br>
            <li><span class="thirdPlace">Third Place: Nat</span><br>Killed by Adam with Nerf Machine Gun</li><br>
            <li>Fourth Place: Harrison<br>Killed by Nat with Lightsaber</li><br>
            <li>Fifth Place: Dakota<br>Killed by McLean with Bat</li><br> 
            <li>Sixth Place: Alan<br>Killed by Adam with Lightsaber</li><br>
        </ul>
    </li><br>
    <h3><li>The 10th Annual Hunger Games (Year 10, 2021; Willamette Mission):</h3>
        <ul>
            <li><span class="winner">Winner: Chris</span><br>Item: Bat, Shield, Nerf Machine Gun</li><br>
            <li><span class="runnerUp">Second Place: Adam</span><br>Chris with Bat</li><br>
            <li><span class="thirdPlace">Third Place: Harrison</span><br>Killed by: Chris with Bat</li><br>
            <li>Fourth Place: Nat<br>Killed by Harrison using Sword</li><br>
            <li>Fifth Place: McLean<br>Killed by Chris using Bat?</li><br> 
            <li>Sixth Place: Brent<br>Killed by Adam using Sword?</li><br>
            <li>Fifth Place: Alan<br>Killed by Harrison using Sword</li><br> 
            <li>Sixth Place: Dakota<br>Killed by Brent using ?</li><br>
        </ul>
    </li><br>
</ol>
<br>
<h2>Table of Placement Results:</h2>
<table>
    <tr>
        <th></th>
        <th>First Hunger Games</th>
        <th>Bloodbath Games</th>
        <th>Park Games</th>
        <th>Cougar Games</th>
        <th>Wolverine Games</th>
        <th>Celtic Games</th>
        <th>Falcon Games</th>
        <th>Ultimate Games</th>
        <th>First Reunion Games</th>
        <th>10th Hunger Games</th>
    </tr>
    <tr>
        <th>Adam</th>
        <td class="first">1st</td>
        <td class="third">3rd</td>
        <td class="second">2nd</td>
        <td class="first">1st</td>
        <td class="third">3rd</td>
        <td class="second">2nd</td>
        <td class="third">3rd</td>
        <td class="second">2nd</td>
        <td class="first">1st</td>
        <td class="second">2nd</td>
    </tr>
    <tr>
        <th>Alan</th>
        <td>4th</td>
        <td>6th</td>
        <td class="third">3rd</td>
        <td>5th</td>
        <td>6th</td>
        <td>10th</td>
        <td>6th</td>
        <td>8th</td>
        <td>6th</td>
        <td>7th</td>
    </tr>
    <tr>
        <th>Brent</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="second">2nd</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>4th</td>
        <td class="DNP"></td>
        <td>6th</td>
    </tr>
    <tr>
        <th>Chris</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="first">1st</td>
    </tr>
    <tr>
        <th>Cole</th>
        <td class="DNP"></td>
        <td class="first">1st</td>
        <td>4th</td>
        <td>4th</td>
        <td>4th</td>
        <td class="first">1st</td>
        <td>7th</td>
        <td class="third">3rd</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Dakota</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>9th</td>
        <td>8th</td>
        <td>7th</td>
        <td>5th</td>
        <td>8th</td>
    </tr>
    <tr>
        <th>Gabriel</th>
        <td>6th</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Harrison</th>
        <td class="DNP"></td>
        <td class="second">2nd</td>
        <td>5th</td>
        <td class="third">3rd</td>
        <td class="second">2nd</td>
        <td class="third">3rd</td>
        <td class="first">1st</td>
        <td>6th</td>
        <td>4th</td>
        <td class="third">3rd</td>
    </tr>
    <tr>
        <th>Isaac</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>7th</td>
        <td>5th</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Jack</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="first">1st</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Jacob</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>8th</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Jake</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>8th</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Jeremy</th>
        <td>5th</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Kasey</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>7th</td>
        <td>4th</td>
        <td class="second">2nd</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Korey</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="first">1st</td>
        <td>6th</td>
        <td>4th</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>McLean</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>5th</td>
        <td class="second">2nd</td>
        <td>5th</td>
    </tr>
    <tr>
        <th>Nat</th>
        <td class="second">2nd</td>
        <td>5th</td>
        <td class="first">1st</td>
        <td>6th</td>
        <td>5th</td>
        <td>5th</td>
        <td class="DNP"></td>
        <td>9th</td>
        <td class="third">3rd</td>
        <td>4th</td>
    </tr>
    <tr>
        <th>Nelson</th>
        <td>4th</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>10th</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Parker</th>
        <td class="DNP"></td>
        <td>4th</td>
        <td>6th</td>
        <td>7th</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Zach</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>8th</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
</table>
<br><br>
<h2>Video of each year's results:</h2>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/hJ_Pb_t5aW4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br>