<h2>Table of Overall Results Each Year:</h2>
<p>Note: Percent of total possible points in parentheses for all years except Alan's Birthday Ultimate, 
   which is the percent of tournaments competed in but did not get a strike. 
   In addition for the first Alan's Birthday Reunion (Year 9), there are two numbers, one taking each person's 
   three best scores divided by 300 (used for official scoring since only top 3 scores were used), 
   and one with all of each person's scores divided by 500 (including all tournaments).</p>
<table>
    <tr>
        <th></th>
        <th>Alan's Birthday Classic - Year 1</th>
        <th>Alan's Birthday Classic - Year 2</th>
        <th>Alan's Birthday Classic - Year 3</th>
        <th>Alan's Birthday Classic - Year 4</th>
        <th>Alan's Birthday Classic - Year 5</th>
        <th>Alan's Birthday Classic - Year 6</th>
        <th>Alan's Birthday Classic - Mini</th>
        <th>Alan's Birthday Classic - Year 7</th>
        <th>Alan's Birthday Ultimate (Year 8)</th>
        <th>Alan's Birthday Reunion (Year 9)</th>
        <th>Alan's Birthday X (Reunion 2, Year 10)</th>
    </tr>
    <tr>
        <th>Adam</th>
        <td class="first">1st (60%)</td>
        <td class="second">2nd (30%)</td>
        <td class="first">1st (94%)</td>
        <td class="first">1st (73%)</td>
        <td class="first">1st (93%)</td>
        <td class="first">1st (92%)</td>
        <td class="first">1st (89%)</td>
        <td class="first">1st (93%)</td>
        <td class="first">1st (100%)</td>
        <td class="first">1st (100%/100%)</td>
        <td class="first">1st (100%)</td>
    </tr>
    <tr>
        <th>Alan</th>
        <td class="second">2nd (20%)</td>
        <td>5th (0%)</td>
        <td class="third">3rd (33%)</td>
        <td class="third">3rd (30%)</td>
        <td>5th (26%)</td>
        <td>7th (3%)</td>
        <td>5th (15%)</td>
        <td>5th (35%)</td>
        <td>9th (15%)</td>
        <td>5th (43%/26%)</td>
        <td class="third">3rd (35%)</td>
    </tr>
    <tr>
        <th>Brent</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>5th (13%)</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>5th (50%)</td>
        <td class="DNP"></td>
        <td>4th (33%)</td>
    </tr>
    <tr>
        <th>Chris</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>8th (19%/11%)</td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Cole</th>
        <td class="DNP"></td>
        <td class="first">1st (70%)</td>
        <td class="second">2nd (50%)</td>
        <td class="second">2nd (47%)</td>
        <td>4th (33%)</td>
        <td>4th (42%)</td>
        <td class="second">2nd (56%)</td>
        <td>6th (33%)</td>
        <td class="DNP">(Replaced by Noah in WipeOut)</td>
        <td>4th (47%/28%)</td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Dakota</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>8th (3%)</td>
        <td class="DNP"></td>
        <td>8th (8%)</td>
        <td>10th (15%)</td>
        <td>7th (21%/13%)</td>
        <td>8th (20%)</td>
    </tr>
    <tr>
        <th>Eric</th>
        <td>4th (0%)</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>13th (0%)</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Harrison</th>
        <td class="second">2nd (20%)</td>
        <td>5th (0%)</td>
        <td>4th (28%)</td>
        <td>4th (17%)</td>
        <td class="second">2nd (50%)</td>
        <td class="second">2nd (50%)</td>
        <td class="third">3rd (37%)</td>
        <td class="second">2nd (63%)</td>
        <td class="third">3rd (70%)</td>
        <td class="third">3rd (69%/53%)</td>
        <td class="second">2nd (60%)</td>
    </tr>
    <tr>
        <th>Isaac</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>10th (1%)</td>
        <td class="DNP"></td>
        <td>7th (25%)</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Jack</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>4th (65%)</td>
        <td class="DNP"></td>
        <td>5th (33%)</td>
    </tr>
    <tr>
        <th>Jacob</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>8th (7%)</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Jake</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>7th (7%)</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Kasey</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>7th (19%)</td>
        <td>5th (39%)</td>
        <td class="DNP"></td>
        <td class="third">3rd (43%)</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Korey</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>4th (33%)</td>
        <td class="third">3rd (42%)</td>
        <td class="DNP"></td>
        <td>4th (38%)</td>
        <td>12th (10%)</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>McLean</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="second">2nd (75%)</td>
        <td class="second">2nd (83%/50%)</td>
        <td>6th (32%)</td>
    </tr>
    <tr>
        <th>Nat</th>
        <td>4th (0%)</td>
        <td class="third">3rd (10%)</td>
        <td>5th (17%)</td>
        <td>7th (7%)</td>
        <td>6th (26%)</td>
        <td>6th (28%)</td>
        <td>4th (15%)</td>
        <td class="DNP"></td>
        <td>7th (20%)</td>
        <td>6th (41%/25%)</td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Nelson</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>11th (10%)</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Noah</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>6th (45%)</td>
        <td class="DNP"></td>
        <td>7th (28%)</td>
    </tr>
    <tr>
        <th>Parker</th>
        <td>4th</td>
        <td class="third">3rd (10%)</td>
        <td>6th (6%)</td>
        <td>6th (10%)</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Riley</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>7th (25%)</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
    </tr>
    <tr>
        <th>Zach</th>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>9th (1%)</td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td class="DNP"></td>
        <td>9th (14%/9%)</td>
        <td class="DNP"></td>
    </tr>
</table>
<br><br>
<p>Adam began tracking the statistics of Alan's Birthday events after Year 5. 
  Over that time many different methods for measuring performance have been applied. 
  Here are the three most common methods used at present.</p>
<h1>Head to Head:</h1>
<p>For each competitor, everyone gets a percent score for how often they win or lose to them in tournaments. 
  These percentages are then averaged to come up with each person's overall head to head score.</p>
<img class="chart" src="./assets/headtohead.png">
<br>
<h3 style="text-align: center;">Current Placements:</h3>
<table class="stats-table">
  <tr style="color:white;">
    <th>Rank</th>
    <th>Name</th>
    <th>Score</th>
  </tr>
  <tr style="color:#4285f4;">
    <td>1</td>
    <td>Adam</td>
    <td>95.14%</td>
  </tr>
  <tr style="color:#ff994d;">
    <td>2</td>
    <td>Jack</td>
    <td>76.00%</td>
  </tr>
  <tr style="color:#ffc599;">
    <td>3</td>
    <td>McLean</td>
    <td>74.73%</td>
  </tr>
  <tr style="color:#fcd04f;">
    <td>4</td>
    <td>Harrison</td>
    <td>71.03%</td>
  </tr>
  <tr style="color:#ff6d01;">
    <td>5</td>
    <td>Cole</td>
    <td>67.15%</td>
  </tr>
  <tr style="color:#fbbc04;">
    <td>6</td>
    <td>Brent</td>
    <td>66.72%</td>
  </tr>
  <tr style="color:#fdeceb;">
    <td>7</td>
    <td>Noah</td>
    <td>64.63%</td>
  </tr>
  <tr style="color:#f7b4ae;">
    <td>8</td>
    <td>Jeremy</td>
    <td>60.00%</td>
  </tr>
  <tr style="color:#fde49b;">
    <td>9</td>
    <td>Kasey</td>
    <td>58.35%</td>
  </tr>
  <tr style="color:#34a853;">
    <td>10</td>
    <td>Chris</td>
    <td>57.14%</td>
  </tr>
  <tr style="color:#ea4335;">
    <td>11</td>
    <td>Alan</td>
    <td>53.68%</td>
  </tr>
  <tr style="color:#b5e5e8;">
    <td>12</td>
    <td>Nat</td>
    <td>52.13%</td>
  </tr>
  <tr style="color:#fff0e6;">
    <td>13</td>
    <td>Riley</td>
    <td>50.89%</td>
  </tr>
  <tr style="color:#b3cefb;">
    <td>14</td>
    <td>Jake</td>
    <td>41.67%</td>
  </tr>
  <tr style="color:#aedcba;">
    <td>15</td>
    <td>Korey</td>
    <td>41.59%</td>
  </tr>
  <tr style="color:#ecf3fe;">
    <td>16</td>
    <td>Nelson</td>
    <td>31.01%</td>
  </tr>
  <tr style="color:#46bdc6;">
    <td>17</td>
    <td>Dakota</td>
    <td>29.55%</td>
  </tr>
  <tr style="color:#71c287;">
    <td>18</td>
    <td>Isaac</td>
    <td>24.07%</td>
  </tr>
  <tr style="color:#f07b72;">
    <td>19</td>
    <td>Gabriel</td>
    <td>20.00%</td>
  </tr>
  <tr style="color:#fff8e6;">
    <td>20</td>
    <td>Parker</td>
    <td>19.86%</td>
  </tr>
  <tr style="color:#7ed1d7;">
    <td>21</td>
    <td>Jacob</td>
    <td>18.10%</td>
  </tr>
  <tr style="color:#edf8f9;">
    <td>22</td>
    <td>Zach</td>
    <td>14.39%</td>
  </tr>
  <tr style="color:#7baaf7;">
    <td>23</td>
    <td>Eric</td>
    <td>9.23%</td>
  </tr>
</table>
<br>
<h1>ELO:</h1>
<p>Each competitor starts with 1000 points. For each game in a touranement, 
  a formula calculates the leader's percent chance of winning,.</p>
<img class="chart" src="./assets/elo.png">
<br>
<h3 style="text-align: center;">Current Placements:</h3>
<table class="stats-table">
  <tr style="color:white;">
    <th>Rank</th>
    <th>Name</th>
    <th>Score</th>
  </tr>
  <tr style="color:#4285f4;">
    <td>1</td>
    <td>Adam</td>
    <td>1544.98</td>
  </tr>
  <tr style="color:#fcd04f;">
    <td>2</td>
    <td>Harrison</td>
    <td>1204.27</td>
  </tr>
  <tr style="color:#fbbc04;">
    <td>3</td>
    <td>Brent</td>
    <td>1109.08</td>
  </tr>
  <tr style="color:#ff6d01;">
    <td>4</td>
    <td>Cole</td>
    <td>1092.63</td>
  </tr>
  <tr style="color:#fde49b;">
    <td>5</td>
    <td>Kasey</td>
    <td>1086.07</td>
  </tr>
  <tr style="color:#ffc599;">
    <td>6</td>
    <td>McLean</td>
    <td>1039.57</td>
  </tr>
  <tr style="color:#fff0e6;">
    <td>7</td>
    <td>Riley</td>
    <td>1035.20</td>
  </tr>
  <tr style="color:#fdeceb;">
    <td>8</td>
    <td>Noah</td>
    <td>1026.59</td>
  </tr>
  <tr style="color:#34a853;">
    <td>9</td>
    <td>Chris</td>
    <td>1016.55</td>
  </tr>
  <tr style="color:#ff994d;">
    <td>10</td>
    <td>Jack</td>
    <td>1012.96</td>
  </tr>
  <tr style="color:#f7b4ae;">
    <td>11</td>
    <td>Jeremy</td>
    <td>1001.66</td>
  </tr>
  <tr style="color:#ea4335;">
    <td>12</td>
    <td>Alan</td>
    <td>987.46</td>
  </tr>
  <tr style="color:#ecf3fe;">
    <td>13</td>
    <td>Nelson</td>
    <td>958.98</td>
  </tr>
  <tr style="color:#f07b72;">
    <td>14</td>
    <td>Gabriel</td>
    <td>953.66</td>
  </tr>
  <tr style="color:#aedcba;">
    <td>15</td>
    <td>Korey</td>
    <td>939.71</td>
  </tr>
  <tr style="color:#b5e5e8;">
    <td>16</td>
    <td>Nat</td>
    <td>938.34</td>
  </tr>
  <tr style="color:#71c287;">
    <td>17</td>
    <td>Isaac</td>
    <td>931.03</td>
  </tr>
  <tr style="color:#b3cefb;">
    <td>18</td>
    <td>Jake</td>
    <td>927.61</td>
  </tr>
  <tr style="color:#7baaf7;">
    <td>19</td>
    <td>Eric</td>
    <td>869.09</td>
  </tr>
  <tr style="color:#7ed1d7;">
    <td>20</td>
    <td>Jacob</td>
    <td>866.49</td>
  </tr>
  <tr style="color:#edf8f9;">
    <td>21</td>
    <td>Zach</td>
    <td>852.56</td>
  </tr>
  <tr style="color:#46bdc6;">
    <td>22</td>
    <td>Dakota</td>
    <td>803.52</td>
  </tr>
  <tr style="color:#fff8e6;">
    <td>23</td>
    <td>Parker</td>
    <td>793.86</td>
  </tr>
</table>
<br>
<h1>ELO by Category:</h1>
<p>Each competitor starts with 1000 points for each of the six category of tournaments: 
  Hunger Games, Athletics, Smash Bros., Video Games, Table Games, and Board/Card Games.
  Whenever a game is played, only the score for that category of game is used. 
  Each of these six scores are then averaged for an overall ELO score.</p>
<img class="chart" src="./assets/elobycat.png">
<br>
<h3 style="text-align: center;">Current Placements:</h3>
<table class="stats-table">
  <tr style="color:white;">
    <th>Rank</th>
    <th>Name</th>
    <th>Score</th>
  </tr>
  <tr style="color:#4285f4;">
    <td>1</td>
    <td>Adam</td>
    <td>1262.23</td>
  </tr>
  <tr style="color:#fcd04f;">
    <td>2</td>
    <td>Harrison</td>
    <td>1062.26</td>
  </tr>
  <tr style="color:#ff6d01;">
    <td>3</td>
    <td>Cole</td>
    <td>1052.10</td>
  </tr>
  <tr style="color:#fbbc04;">
    <td>4</td>
    <td>Brent</td>
    <td>1020.32</td>
  </tr>
  <tr style="color:#fde49b;">
    <td>5</td>
    <td>Kasey</td>
    <td>1015.44</td>
  </tr>
  <tr style="color:#34a853;">
    <td>6</td>
    <td>Chris</td>
    <td>1000.81</td>
  </tr>
  <tr style="color:#f7b4ae;">
    <td>7</td>
    <td>Jeremy</td>
    <td>1000.00</td>
  </tr>
  <tr style="color:#aedcba;">
    <td>8</td>
    <td>Korey</td>
    <td>999.07</td>
  </tr>
  <tr style="color:#fff0e6;">
    <td>9</td>
    <td>Riley</td>
    <td>996.50</td>
  </tr>
  <tr style="color:#f07b72;">
    <td>10</td>
    <td>Gabriel</td>
    <td>992.00</td>
  </tr>
  <tr style="color:#ff994d;">
    <td>11</td>
    <td>Jack</td>
    <td>991.99</td>
  </tr>
  <tr style="color:#ea4335;">
    <td>12</td>
    <td>Alan</td>
    <td>989.38</td>
  </tr>
  <tr style="color:#b3cefb;">
    <td>13</td>
    <td>Jake</td>
    <td>984.87</td>
  </tr>
  <tr style="color:#ecf3fe;">
    <td>14</td>
    <td>Nelson</td>
    <td>984.37</td>
  </tr>
  <tr style="color:#ffc599;">
    <td>15</td>
    <td>McLean</td>
    <td>979.56</td>
  </tr>
  <tr style="color:#fdeceb;">
    <td>16</td>
    <td>Noah</td>
    <td>978.21</td>
  </tr>
  <tr style="color:#71c287;">
    <td>17</td>
    <td>Isaac</td>
    <td>975.89</td>
  </tr>
  <tr style="color:#7baaf7;">
    <td>18</td>
    <td>Eric</td>
    <td>974.43</td>
  </tr>
  <tr style="color:#edf8f9;">
    <td>19</td>
    <td>Zach</td>
    <td>968.83</td>
  </tr>
  <tr style="color:#7ed1d7;">
    <td>20</td>
    <td>Jacob</td>
    <td>961.32</td>
  </tr>
  <tr style="color:#b5e5e8;">
    <td>21</td>
    <td>Nat</td>
    <td>932.41</td>
  </tr>
  <tr style="color:#fff8e6;">
    <td>22</td>
    <td>Parker</td>
    <td>923.36</td>
  </tr>
  <tr style="color:#46bdc6;">
    <td>23</td>
    <td>Dakota</td>
    <td>917.11</td>
  </tr>
</table>
<br><br><br>
{{!-- <h2>Animated ELO Graph:</h2>
<p>Here is an animated version of the ELO Graph. 
  It is broken into the different years of competition, so you can click on the right arrow to advance to the next year. 
  You can also click the replay button to restart the animation.</p>
  <iframe src='https://flo.uri.sh/story/691975/embed' title='Interactive or visual content' frameborder='0' scrolling='no' sandbox='allow-same-origin allow-forms allow-scripts allow-downloads allow-popups allow-popups-to-escape-sandbox allow-top-navigation-by-user-activation'></iframe><div style='width:100%!;margin-top:4px!important;text-align:right!important;'><a class='flourish-credit' href='https://public.flourish.studio/story/691975/?utm_source=embed&utm_campaign=story/691975' target='_top' style='text-decoration:none!important'><img alt='Made with Flourish' src='https://public.flourish.studio/resources/made_with_flourish.svg' style='width:105px!important;height:16px!important;border:none!important;margin:0!important;'> </a></div> --}}
<h2>Animated ELO Graph:</h2>
<p>Here is an a YouTube video showing an animated version of the ELO Graph for all 22 Alan's Birthday Competitors from Year 1 through Alan's Birthday Reunion (Year 9).</p>
<br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fWmpJXtaPmM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2>History of the Hunger Games:</h2>
<p>Here is an a YouTube video showing the results of every Hunger Games from Year 1 through Alan's Birthday Reunion (Year 9), including the number of victories of each victor and the ELO scores of each competitor.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/hJ_Pb_t5aW4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br>