<p>
    <h2>Select the competition that you are interested in:</h2>
    <ul>
        <li><a href="#Reunion1">Reunion 1 (2020)</a></li>
        <li><a href="#Reunion2">Alan's Birthday X (2021)</a></li>
    </ul>
</p>
<br>
<h1>Alan's Birthday Reunions:</h1>
<a name="Reunion1"></a>
<h2>Reunion 1:</h2>
<p>This was the first reunion and nineth year of Alan's Birthday competitions. 
    There were nine competitors: Adam, Alan, Chris, Cole, Dakota, Harrison, McLean, Nat, and Zach; 
    and there were five competitions: Badminton, Hunger Games, Smash Ultimate, Mario 1, and Cribbage.
    This year's point system consisted of 100 point for first place and a proportional based on the number of people 
    who competed. Only each person's three best scores were used for determining overall placement.</p>
<p>Here are the results:</p>
<table>
    <tr>
        <th></th>
        <th>Badminton</th>
        <th>Hunger Games</th>
        <th>Smash Ultimate</th>
        <th>Cribbage</th>
        <th>Mario 1</th>
        <th class="divider">Final Scores</th>
        <th>Final Results</th>
    </tr>
    <tr>
        <th>Adam</th>
        <td class="first">1st</td>
        <td class="first">1st</td>
        <td class="first">1st</td>
        <td class="first">1st</td>
        <td class="first">1st</td>
        <td class="divider">300.00</td>
        <td class="first">1st</td>
    </tr>
    <tr>
        <th>Alan</th>
        <td class="third">3rd</td>
        <td>6th</td>
        <td>5th</td>
        <td>4th</td>
        <td>4th</td>
        <td class="divider">129.76</td>
        <td>5th</td>
    </tr>
    <tr>
        <th>Chris</th>
        <td>4th</td>
        <td class="DNP">-</td>
        <td class="DNP">-</td>
        <td class="DNP">-</td>
        <td class="DNP">-</td>
        <td class="divider">57.14</td>
        <td>8th</td>
    </tr>
    <tr>
        <th>Cole</th>
        <td class="DNP">-</td>
        <td class="DNP">-</td>
        <td>5th</td>
        <td class="second">2nd</td>
        <td class="third">3rd</td>
        <td class="divider">141.67</td>
        <td>4th</td>
    </tr>
    <tr>
        <th>Dakota</th>
        <td>5th</td>
        <td>5th</td>
        <td>7th</td>
        <td class="DNP">-</td>
        <td class="DNP">-</td>
        <td class="divider">62.26</td>
        <td>7th</td>
    </tr>
    <tr>
        <th>Harrison</th>
        <td>7th</td>
        <td>4th</td>
        <td class="third">3rd</td>
        <td class="second">2nd</td>
        <td class="second">2nd</td>
        <td class="divider">208.33</td>
        <td class="third">3rd</td>
    </tr>
    <tr>
        <th>McLean</th>
        <td class="second">2nd</td>
        <td class="second">2nd</td>
        <td class="second">2nd</td>
        <td>5th</td>
        <td class="DNP">-</td>
        <td class="divider">249.05</td>
        <td class="second">2nd</td>
    </tr>
    <tr>
        <th>Nat</th>
        <td>7th</td>
        <td class="third">3rd</td>
        <td>4th</td>
        <td class="DNP">-</td>
        <td class="DNP">-</td>
        <td class="divider">124.09</td>
        <td>6th</td>
    </tr>
    <tr>
        <th>Zach</th>
        <td>5th</td>
        <td class="DNP">-</td>
        <td class="DNP">-</td>
        <td class="DNP">-</td>
        <td class="DNP">-</td>
        <td class="divider">42.86</td>
        <td>9th</td>
    </tr>
</table>
<br><br>
<a name="Reunion2"></a>
<h2>Alan's Birthday X:</h2>
<p>This was the second reunion and tenth year of Alan's Birthday competitions. 
    The competition was split up into five different events: the Alan Credits, Team Event, 
    Triathlon, Hunger Games, and Individual Event.</p>
<p>The first event was the team event. To determine teams, we had four captains -- Adam, Brent, Harrison, and McLean -- who each 
    drafted their teams, resulting in the following teams: 
    <ul>
        <li>Team Adam, Noah, and Robert</li>
        <li>Team Brent, Dakota, and Dane (Basketball to Pokemon Unite) / Chris (Magic & Smash)</li>
        <li>Team Harrison, Alan, and Nat</li>
        <li>Team McLean, Jack, and Nelson</li>
    </ul>
    As for points, 1st got 4 points, 2nd got 2, and 3rd got 1.<br>Here are the results of the Team Event:</p>
<table>
    <tr>
        <th></th>
        <th>Basketball</th>
        <th>Pool</th>
        <th>Mario Wii Speedrun</th>
        <th>Pokemon Unite</th>
        <th>Magic</th>
        <th>Smash Ultimate Squad Strike</th>
        <th class="divider">Final Scores</th>
        <th>Final Results</th>
    </tr>
    <tr>
        <th>Team Adam</th>
        <td class="second">2nd (2)</td>
        <td class="third">3rd (3)</td>
        <td class="third">3rd (4)</td>
        <td class="third">3rd (5)</td>
        <td class="first">1st (9)</td>
        <td class="first">1st (13)</td>
        <td class="divider">13</td>
        <td class="second">2nd</td>
    </tr>
    <tr>
        <th>Team Brent</th>
        <td>4th (0)</td>
        <td class="first">1st (4)</td>
        <td class="second">2nd (6)</td>
        <td>4th (6)</td>
        <td class="third">3rd (7)</td>
        <td>4th (7)</td>
        <td class="divider">7</td>
        <td class="third">3rd</td>
    </tr>
    <tr>
        <th>Team Harrison</th>
        <td class="third">3rd (1)</td>
        <td>4th (1)</td>
        <td>4th (1)</td>
        <td class="second">2nd (3)</td>
        <td class="second">2nd (5)</td>
        <td class="third">3rd (6)</td>
        <td class="divider">6</td>
        <td>4th</td>
    </tr>
    <tr>
        <th>Team McLean</th>
        <td class="first">1st (4)</td>
        <td class="second">2nd (6)</td>
        <td class="first">1st (10)</td>
        <td class="first">1st (14)</td>
        <td>4th (14)</td>
        <td class="second">2nd (16)</td>
        <td class="divider">16</td>
        <td class="first">1st</td>
    </tr>
</table>
<br><br>