<h1>Alan's Birthday Ultimate:</h1>
<p>The eighth year was titled "Alan's Birthday Utlimate," which featured all of the old tournaments and
    many of the old competitors as well as many new ones. To get through all the tournaments, we scrapped the point
    system
    idea and instead gave everyone three lives. Taking in the bottom placements in any of the tournaments would result
    in
    getting a strike and thus losing a life. Once someone had lost all three lives they would be eliminated from the
    competition.
    In addition, the final two would compete in a Triathlon where they would each get skips, with each one allowing them
    to skip
    a tenth of a section. How many someone got was based on how well they did in the previous tournaments. In the table
    below,
    the color represents how many lives someone had left at the end of that tournament. Green means they had all three
    lives
    left, yellow means they had two lives left, orange means they had one life left, and red means they had just been
    eliminated.
    Note that Cole participated in the Hunger Games and the first round of Wipeout before having to leave and thus being
    replaced by Noah, whose name is seen on the table.
</p>
<p>Here are the results:</p>
<div style="overflow-x: auto;">
    <table>
        <tr>
            <th></th>
            <th>Hunger Games</th>
            <th>Diving</th>
            <th>Wipeout</th>
            <th>Smash 64</th>
            <th>Chess</th>
            <th>Mile</th>
            <th>Magic</th>
            <th>Galaxy 2</th>
            <th>Smash Melee</th>
            <th>Badminton</th>
            <th>Battleship</th>
            <th>Mario Bros.</th>
            <th>Power Tennis</th>
            <th>Smash Brawl</th>
            <th>Mario Kart</th>
            <th>Sluggers</th>
            <th>Foosball</th>
            <th>Smash 4</th>
            <th>Air Hockey</th>
            <th>Smash Ultimate</th>
            <th>Triathlon</th>
            <th>Final Results</th>
        </tr>
        <tr>
            <th>Adam</th>
            <td class="three">2nd</td>
            <td class="three">Bye</td>
            <td class="three">1st</td>
            <td class="three">1st</td>
            <td class="three">1st</td>
            <td class="three">6th</td>
            <td class="three">5th</td>
            <td class="three">1st</td>
            <td class="three">1st</td>
            <td class="three">3rd</td>
            <td class="three">5th</td>
            <td class="three">1st</td>
            <td class="three">1st</td>
            <td class="three">1st</td>
            <td class="three">1st</td>
            <td class="three">2nd</td>
            <td class="three">1st</td>
            <td class="three">1st</td>
            <td class="three">1st</td>
            <td class="three">N/A</td>
            <td class="first">1st</td>
            <td class="first">1st</td>
        </tr>
        <tr>
            <th>Alan</th>
            <td class="three">8th</td>
            <td class="two">3rd</td>
            <td class="one">12th</td>
            <td class="one">2nd</td>
            <td class="one">7th</td>
            <td class="one">8th</td>
            <td class="zero">8th</td>
            <td colspan="14" class="blank"></td>
            <td>9th</td>
        </tr>
        <tr>
            <th>Brent</th>
            <td class="three">4th</td>
            <td class="three">Bye</td>
            <td class="three">3rd</td>
            <td class="two">12th</td>
            <td class="two">8th</td>
            <td class="two">2nd</td>
            <td class="two">4th</td>
            <td class="two">2nd</td>
            <td class="one">6th</td>
            <td class="one">2nd</td>
            <td class="one">4th</td>
            <td class="one">2nd</td>
            <td class="one">4th</td>
            <td class="zero">5th</td>
            <td colspan="7" class="blank"></td>
            <td class="grand">5th</td>
        </tr>
        <tr>
            <th>Dakota</th>
            <td class="three">7th</td>
            <td class="three">Bye</td>
            <td class="two">11th</td>
            <td class="two">5th</td>
            <td class="one">10th</td>
            <td class="one">9th</td>
            <td class="zero">9th</td>
            <td colspan="14" class="blank"></td>
            <td>10th</td>
        </tr>
        <tr>
            <th>Eric</th>
            <td class="three">DNP</td>
            <td class="two">5th</td>
            <td class="one">13th</td>
            <td class="zero">14th</td>
            <td colspan="17" class="blank"></td>
            <td>13th</td>
        </tr>
        <tr>
            <th>Harrison</th>
            <td class="three">6th</td>
            <td class="three">Bye</td>
            <td class="three">7th</td>
            <td class="three">4th</td>
            <td class="three">2nd</td>
            <td class="three">3rd</td>
            <td class="three">1st</td>
            <td class="three">7th</td>
            <td class="three">2nd</td>
            <td class="two">6th</td>
            <td class="one">6th</td>
            <td class="one">3rd</td>
            <td class="one">3rd</td>
            <td class="one">3rd</td>
            <td class="one">2nd</td>
            <td class="one">1st</td>
            <td class="one">3rd</td>
            <td class="zero">3rd</td>
            <td colspan="3" class="blank"></td>
            <td class="third">3rd</td>
        </tr>
        <tr>
            <th>Jack</th>
            <td class="three">1st</td>
            <td class="three">Bye</td>
            <td class="three">9th</td>
            <td class="two">11th</td>
            <td class="two">3rd</td>
            <td class="two">1st</td>
            <td class="two">2nd</td>
            <td class="two">3rd</td>
            <td class="two">5th</td>
            <td class="two">4th</td>
            <td class="two">3rd</td>
            <td class="two">5th</td>
            <td class="two">2nd</td>
            <td class="two">2nd</td>
            <td class="one">4th</td>
            <td class="one">3rd</td>
            <td class="zero">4th</td>
            <td colspan="4" class="blank"></td>
            <td class="grand">4th</td>
        </tr>
        <tr>
            <th>Korey</th>
            <td class="three">DNP</td>
            <td class="two">DNP</td>
            <td class="two">5th</td>
            <td class="two">9th</td>
            <td class="one">10th</td>
            <td class="zero">DNP</td>
            <td colspan="15" class="blank"></td>
            <td>12th</td>
        </tr>
        <tr>
            <th>McLean</th>
            <td class="three">5th</td>
            <td class="three">Bye</td>
            <td class="three">8th</td>
            <td class="three">10th</td>
            <td class="three">4th</td>
            <td class="three">7th</td>
            <td class="three">7th</td>
            <td class="three">5th</td>
            <td class="three">3rd</td>
            <td class="three">1st</td>
            <td class="three">1st</td>
            <td class="two">6th</td>
            <td class="two">5th</td>
            <td class="two">4th</td>
            <td class="two">3rd</td>
            <td class="one">4th</td>
            <td class="one">2nd</td>
            <td class="one">2nd</td>
            <td class="zero">2nd</td>
            <td class="blank"></td>
            <td class="second">2nd</td>
            <td class="second">2nd</td>
        </tr>
        <tr>
            <th>Nat</th>
            <td class="three">9th</td>
            <td class="three">2nd</td>
            <td class="three">6th</td>
            <td class="three">7th</td>
            <td class="three">4th</td>
            <td class="two">11th</td>
            <td class="one">9th</td>
            <td class="zero">6th</td>
            <td colspan="13" class="blank"></td>
            <td class="grand">8th</td>
        </tr>
        <tr>
            <th>Nelson</th>
            <td class="three">10th</td>
            <td class="two">4th</td>
            <td class="two">2nd</td>
            <td class="two">3rd</td>
            <td class="one">9th</td>
            <td class="zero">10th</td>
            <td colspan="15" class="blank"></td>
            <td>11th</td>
        </tr>
        <tr>
            <th>Noah</th>
            <td class="three">3rd</td>
            <td class="three">Bye</td>
            <td class="three">4th</td>
            <td class="three">8th</td>
            <td class="three">4th</td>
            <td class="three">4th</td>
            <td class="three">3rd</td>
            <td class="two">8th</td>
            <td class="two">4th</td>
            <td class="one">5th</td>
            <td class="one">2nd</td>
            <td class="one">4th</td>
            <td class="zero">6th</td>
            <td colspan="8" class="blank"></td>
            <td class="grand">6th</td>
        </tr>
        <tr>
            <th>Riley</th>
            <td class="three">DNP</td>
            <td class="three">1st</td>
            <td class="two">10th</td>
            <td class="two">6th</td>
            <td class="one">10th</td>
            <td class="one">5th</td>
            <td class="one">6th</td>
            <td class="one">4th</td>
            <td class="zero">7th</td>
            <td colspan="12" class="blank"></td>
            <td class="grand">7th</td>
        </tr>
    </table>
</div><br>
<p>
    If you are interested in watching the competitions from Alan's Birthday Ultimate, feel free to watch them on Alan's
    YouTube channel,
    <a href="https://www.youtube.com/channel/UCHhvDHcaqBGfyW3g2zPN3Xg" target="_blank">Alan's Birthday Ultimate</a>.
    Also, feel free to watches the trailers that we made in the year preceeding Alan's Birthday Ultimate and the
    montages
    we made afterwards of everyone's highlights from competing in the competition.
</p>
<br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/JP1sXliXsRU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br>
<p>
    Here is a slideshow of the beginning and end of Alan's Birthday Ultimate. The first eight pictures are from the
    Hunger Games. The seventh image shows the top three in the Hunger Games, from left to right: Cole (3rd), Jack (1st),
    Adam (2nd). The ninth image shows the standings before the final tournament, the Triathlon, which was between Adam
    and McLean. And the final image shows the moment where Adam (in red) crosses the finish line in the Triathlon race
    and
    beats McLean (in blue), thus becoming the champion of Alan's Birthday Ultimate!
</p>
<div class="container">
    <div class="mySlides">
        <div class="numbertext">1 / 10</div>
        <img src="assets/group.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">2 / 10</div>
        <img src="assets/cornucopia.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">3 / 10</div>
        <img src="assets/alliance.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">4 / 10</div>
        <img src="assets/running.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">5 / 10</div>
        <img src="assets/table.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">6 / 10</div>
        <img src="assets/guard-modified.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">7 / 10</div>
        <img src="assets/topThree.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">8 / 10</div>
        <img src="assets/topTwo-modified.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">8 / 10</div>
        <img src="assets/topTwo-modified.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">9 / 10</div>
        <img src="assets/standings.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">10 / 10</div>
        <img src="assets/adamWins.jpg" style="width:100%">
    </div>

    <a class="prev" onclick="backSlide()">&#10094;</a>
    <a class="next" onclick="advanceSlide()">&#10095;</a>
</div>
<br><br>
<script src="scripts/slideshow.js"></script>
<link rel="stylesheet" href="css/slideshow.css" type="text/css">
<link rel="stylesheet" href="css/abu.css" type="text/css">