<p>
    <h2>Select the competition that you are interested in:</h2>
    <ul>
        <li><a href="#Year1">Year 1 (2012)</a></li>
        <li><a href="#Year2">Year 2 (2013)</a></li>
        <li><a href="#Year3">Year 3 (2014)</a></li>
        <li><a href="#Year4">Year 4 (2015)</a></li>
        <li><a href="#Year5">Year 5 (2016)</a></li>
        <li><a href="#Year6">Year 6 (2017)</a></li>
        <li><a href="#Mini">Mini  (2018)</a></li>
        <li><a href="#Year7">Year 7 (2018)</a></li>
    </ul>
</p>
<br>
<h1>Alan's Birthday Classics:</h1>
<a name="Year1"></a>
<h2>Year 1:</h2>
<p>This was the first year of competitions which acted mostly as a trial run. 
    There were six competitors: Adam, Alan, Eric, Harrison, Nat, and Parker; 
    and there were five competitions: Diving, Air Hockey, Foosball, Wipeout: The Game, and Super Mario Sluggers.
    This year's point system consisted of one point for first place and whoever won the most tournaments won overall.</p>
<p>Here are the results:</p>
<table>
    <tr>
        <th></th>
        <th>Diving</th>
        <th>Air Hockey</th>
        <th>Foosball</th>
        <th>Wipeout</th>
        <th>Sluggers</th>
        <th class="divider">Final Scores</th>
        <th>Final Results</th>
    </tr>
    <tr>
        <th>Adam</th>
        <td class="DNP">DNP</td>
        <td class="first">1st</td>
        <td class="first">1st</td>
        <td>2nd - Tie</td>
        <td class="first">1st</td>
        <td class="divider">3</td>
        <td class="first">1st</td>
    </tr>
    <tr>
        <th>Alan</th>
        <td>2nd - Tie</td>
        <td>2nd - Tie</td>
        <td>4th</td>
        <td class="first">1st</td>
        <td>2nd - Tie</td>
        <td class="divider">1</td>
        <td class="second">2nd - Tie</td>
    </tr>
    <tr>
        <th>Eric</th>
        <td>2nd - Tie</td>
        <td>2nd - Tie</td>
        <td>6th</td>
        <td>2nd - Tie</td>
        <td>2nd - Tie</td>
        <td class="divider">0</td>
        <td>3rd - Tie</td>
    </tr>
    <tr>
        <th>Harrison</th>
        <td class="first">1st</td>
        <td>2nd - Tie</td>
        <td>2nd</td>
        <td>2nd - Tie</td>
        <td>2nd - Tie</td>
        <td class="divider">1</td>
        <td class="second">2nd - Tie</td>
    </tr>
    <tr>
        <th>Nat</th>
        <td>2nd - Tie</td>
        <td>2nd - Tie</td>
        <td>3rd</td>
        <td>2nd - Tie</td>
        <td>2nd - Tie</td>
        <td class="divider">0</td>
        <td>3rd - Tie</td>
    </tr>
    <tr>
        <th>Parker</th>
        <td>2nd - Tie</td>
        <td>2nd - Tie</td>
        <td>5th</td>
        <td>2nd - Tie</td>
        <td>2nd - Tie</td>
        <td class="divider">0</td>
        <td>3rd - Tie</td>
    </tr>
</table>
<p>After the competition was over, the event was seen as a success and so it was to become an annual competition.
    A few months after the first competition, Alan hosted the first Hunger Games as a trail run
    for the concept. There were six competitors: Adam, Alan, Gabriel, Jeremy, Nat, and Nelson. Adam took first place,
    Nat took second, and Jeremy took third. The Hunger Games was once again seen as a success and became a staple
    of Alan's Birthday competitions.
</p>
<br>
<a name="Year2"></a>
<h2>Year 2:</h2>
<p>The second year of competitions was very similar to the first but with some small changes. 
    There were six competitors: Adam, Alan, Cole, Harrison, Nat, and Parker; 
    and there were five competitions: Quidditch, Hunger Games, Air Hockey, Foosball, and Wii Sports Resort: Sword Play.
    Unlike most events where everyone participated by themselves, quidditch was a team event which was Adam, Alan, and Harrison
    against Cole, Nat, and Parker. This year's point system was the same as in the previous year: one point for first place 
    and whoever won the most tournaments won overall.</p>
<p>Here are the results:</p>
<table>
    <tr>
        <th></th>
        <th>Quidditch</th>
        <th>Hunger Games</th>
        <th>Air Hockey</th>
        <th>Foosball</th>
        <th>Sword Play</th>
        <th class="divider">Final Scores</th>
        <th>Final Results</th>
    </tr>
    <tr>
        <th>Adam</th>
        <td>2nd</td>
        <td class="third">3rd</td>
        <td class="second">2nd</td>
        <td class="first">1st</td>
        <td class="DNP">N/A</td>
        <td class="divider">1</td>
        <td class="second">2nd</td>
    </tr>
    <tr>
        <th>Alan</th>
        <td>2nd</td>
        <td>5th</td>
        <td>3rd - Tie</td>
        <td class="third">3rd</td>
        <td class="DNP">N/A</td>
        <td class="divider">0</td>
        <td>4th - Tie</td>
    </tr>
    <tr>
        <th>Cole</th>
        <td class="first">1st</td>
        <td class="first">1st</td>
        <td class="first">1st</td>
        <td>4th</td>
        <td class="DNP">N/A</td>
        <td class="divider">3</td>
        <td class="first">1st</td>
    </tr>
    <tr>
        <th>Harrison</th>
        <td>2nd</td>
        <td class="second">2nd</td>
        <td>3rd - Tie</td>
        <td class="second">2nd</td>
        <td class="DNP">N/A</td>
        <td class="divider">0</td>
        <td>4th - Tie</td>
    </tr>
    <tr>
        <th>Nat</th>
        <td class="first">1st</td>
        <td>4th</td>
        <td>3rd - Tie</td>
        <td>6th</td>
        <td class="DNP">N/A</td>
        <td class="divider">1</td>
        <td class="third">3rd - Tie</td>
    </tr>
    <tr>
        <th>Parker</th>
        <td class="first">1st</td>
        <td>6th</td>
        <td>3rd - Tie</td>
        <td>5th</td>
        <td class="DNP">N/A</td>
        <td class="divider">1</td>
        <td class="third">3rd - Tie</td>
    </tr>
</table>
<p>The final competition of Wii Sports Resort: Sword Play was cancelled due to Cole having a guarateed first
    place victory after Foosball. Because of this decisive victory, we decided for future years that we wanted to determine
    every placement and not just first, so each year we came up with a new point system that would award points to more people
    than just the tournament winner. However, exactly what the point system should be became a very controversial topic, 
    escpecially after the fourth year. 
</p>
<br>
<a name="Year3"></a>
<h2>Year 3:</h2>
<p>The third year of competitions was quite similar to the previous two but with some important changes. 
    There were the same six competitors again: Adam, Alan, Cole, Harrison, Nat, and Parker; 
    but now there were six competitions: Chess, Foosball, Hunger Games, Air Hockey, Super Mario Sluggers, and Mario Power Tennis.
    But perhaps the biggest change was this year's point system: three points for first, two points for second, and one point 
    for third, and whoever had the most points at the end won overall. Note: next to each person's placement in a tournament is their
    running point total after that tournament was finished in parenthesis.</p>
<p>Here are the results:</p>
<table>
    <tr>
        <th></th>
        <th>Chess</th>
        <th>Foosball</th>
        <th>Hunger Games</th>
        <th>Air Hockey</th>
        <th>Sluggers</th>
        <th>Power Tennis</th>
        <th class="divider">Final Scores</th>
        <th>Final Results</th>
    </tr>
    <tr>
        <th>Adam</th>
        <td class="first">1st (3)</td>
        <td class="first">1st (6)</td>
        <td class="second">2nd (8)</td>
        <td class="first">1st (11)</td>
        <td class="first">1st (14)</td>
        <td class="first">1st (17)</td>
        <td class="divider">17</td>
        <td class="first">1st</td>
    </tr>
    <tr>
        <th>Alan</th>
        <td>4th - Tie (0)</td>
        <td class="second">2nd (2)</td>
        <td class="third">3rd (3)</td>
        <td class="third">3rd - Tie (4)</td>
        <td class="third">3rd - Tie (5)</td>
        <td class="third">3rd - Tie (6)</td>
        <td class="divider">6</td>
        <td class="third">3rd</td>
    </tr>
    <tr>
        <th>Cole</th>
        <td class="third">3rd(1)</td>
        <td class="third">3rd - Tie (2)</td>
        <td>4th (2)</td>
        <td class="second">2nd (4)</td>
        <td class="second">2nd (6)</td>
        <td class="second">2nd (8)</td>
        <td class="divider">8</td>
        <td class="second">2nd</td>
    </tr>
    <tr>
        <th>Harrison</th>
        <td class="second">2nd (2)</td>
        <td class="third">3rd - Tie (3)</td>
        <td>5th (3)</td>
        <td class="third">3rd - Tie (4)</td>
        <td class="third">3rd - Tie (5)</td>
        <td>5th - Tie (5)</td>
        <td class="divider">5</td>
        <td>4th</td>
    </tr>
    <tr>
        <th>Nat</th>
        <td>4th - Tie (0)</td>
        <td>5th - Tie (0)</td>
        <td class="first">1st (3)</td>
        <td>5th - Tie (3)</td>
        <td>5th - Tie (3)</td>
        <td>5th - Tie (3)</td>
        <td class="divider">3</td>
        <td>5th</td>
    </tr>
    <tr>
        <th>Parker</th>
        <td>4th - Tie (0)</td>
        <td>5th - Tie (0)</td>
        <td>6th (0)</td>
        <td>5th - Tie (0)</td>
        <td>5th - Tie (0)</td>
        <td class="third">3rd - Tie (1)</td>
        <td class="divider">1</td>
        <td>6th</td>
    </tr>
</table>
<p>While this year is one of the least controversial (with year 1 and mini arguably being even less so), 
    there was a big controversy of the Hunger Games this year when Adam and Nat killed each other at the same time. The
    judge ruled that Nat won, but it began a major controversy that would see the first major rules overhaul of the Hunger
    Games.
</p>
<br>
<a name="Year4"></a>
<h2>Year 4:</h2>
<p>For the fourth year of competitions, there was now eight competitors: Adam, Alan, Brent, Cole, Harrison, Jake, 
    Nat, and Parker; and the six competitions were: a Mile Foot Race, Mario Power Tennis, Hunger Games, Super Mario Sluggers, 
    Air Hockey, and Super Smash Bros. Brawl. The point system was changed slightly: five points for first, three points for second, 
    and one point for third, and whoever had the most points at the end won overall. In addition,  an additional point was given to 
    the person with the most kills in the Hunger Gmaes. Note: next to each person's placement in a tournament is their
    running point total after that tournament was finished in parenthesis, with the first number being the number of points they
    had and the second number being the number of points they earned.</p>
<p>Here are the results:</p>
<table>
    <tr class="Y4">
        <th></th>
        <th>Mile Foot Race</th>
        <th>Power Tennis</th>
        <th>Hunger Games</th>
        <td>Adam point give</td>
        <th>Sluggers</th>
        <td>Dinner</td>
        <th>Air Hockey</th>
        <td>Brent and Jake point give</td>
        <th>Brawl</th>
        <td>Nat point give</td>
        <th class="divider">Final Scores</th>
        <th>Final Results</th>
    </tr>
    <tr>
        <th>Adam</th>
        <td>5th (0/0)</td>
        <td class="third">3rd - Tie (1/1)</td>
        <td class="first">1st (7/7)</td>
        <td>(6/7)</td>
        <td class="first">1st (11/12)</td>
        <td>(11/12)</td>
        <td class="first">1st (16/17)</td>
        <td>(16/17)</td>
        <td class="first">1st (21/22)</td>
        <td>(21/22)</td>
        <td class="divider">21 / 22</td>
        <td class="first">2nd / 1st</td>
    </tr>
    <tr>
        <th>Alan</th>
        <td class="third">3rd (1/1)</td>
        <td class="first">1st (6/6)</td>
        <td>5th (6/6)</td>
        <td>(6/6)</td>
        <td class="second">2nd - Tie / 2nd (8/9)</td>
        <td>(8/9)</td>
        <td>5th - Tie (8/9)</td>
        <td>(8/9)</td>
        <td class="third">3rd - Tie (9/10)</td>
        <td>(21/22)</td>
        <td class="divider">9 / 10</td>
        <td class="third">3rd</td>
    </tr>
    <tr>
        <th>Brent</th>
        <td class="DNP">DNP (0/0)</td>
        <td class="DNP">DNP (0/0)</td>
        <td class="second">2nd / 4th (3/0)</td>
        <td>(3/0)</td>
        <td>5th - Tie (3/0)</td>
        <td>(0/0)</td>
        <td class="third">3rd - Tie (1/1)</td>
        <td>(0/1)</td>
        <td>5th - Tie (0/1)</td>
        <td>(0/1)</td>
        <td class="divider">0 / 1</td>
        <td>6th - Tie / 7th - Tie</td>
    </tr>
    <tr>
        <th>Cole</th>
        <td class="first">1st (5/5)</td>
        <td>5th - Tie (5/5)</td>
        <td class="third">4th / 3rd (5/6)</td>
        <td>(6/6)</td>
        <td class="third">4th / 3rd (7/7)</td>
        <td>(13/7)</td>
        <td class="second">2nd (16/10)</td>
        <td>(18/10)</td>
        <td class="second">2nd (21/13)</td>
        <td>(22/13)</td>
        <td class="divider">22 / 13</td>
        <td class="first">1st / 2nd</td>
    </tr>
    <tr>
        <th>Harrison</th>
        <td class="second">2nd (3/3)</td>
        <td class="third">3rd - Tie (4/4)</td>
        <td class="second">3rd / 2nd (5/7)</td>
        <td>(5/7)</td>
        <td>5th - Tie (5/7)</td>
        <td>(5/7)</td>
        <td>5th - Tie (5/7)</td>
        <td>(5/7)</td>
        <td>5th - Tie (5/7)</td>
        <td>(5/7)</td>
        <td class="divider">5 / 7</td>
        <td>4th</td>
    </tr>
    <tr>
        <th>Jake</th>
        <td class="DNP">DNP (0/0)</td>
        <td class="DNP">DNP (0/0)</td>
        <td>8th (0/0)</td>
        <td>(0/0)</td>
        <td class="second">2nd - Tie / 3rd (2/1)</td>
        <td>(0/0)</td>
        <td class="third">3rd - Tie (1/2)</td>
        <td>(0/2)</td>
        <td>5th - Tie (0/2)</td>
        <td>(0/2)</td>
        <td class="divider">0 / 2</td>
        <td>6th - Tie / 6th</td>
    </tr>
    <tr>
        <th>Nat</th>
        <td>4th (1/0)</td>
        <td>4th - Tie (1/0)</td>
        <td>6th (1/0)</td>
        <td>(1/0)</td>
        <td>5th - Tie (1/0)</td>
        <td>(0/0)</td>
        <td>5th - Tie (0/0)</td>
        <td>(0/0)</td>
        <td>5th - Tie (1/1)</td>
        <td>(0/1)</td>
        <td class="divider">0 / 1</td>
        <td>6th - Tie / 7th - Tie</td>
    </tr>
    <tr>
        <th>Parker</th>
        <td>6th (0/0)</td>
        <td class="second">2nd (3/3)</td>
        <td>7th (3/3)</td>
        <td>(3/3)</td>
        <td>5th - Tie (3/3)</td>
        <td>(3/3)</td>
        <td>5th - Tie (3/3)</td>
        <td>(3/3)</td>
        <td>5th - Tie (3/3)</td>
        <td>(3/3)(0/1)</td>
        <td class="divider">3 / 3</td>
        <td>5th</td>
    </tr>
</table>
<p>This year is easily the most controversial of all of the years. Brent, Jake, and Nat gifted all of their points
    to Cole in order to prevent Adam from winning. In addition, many of the placements in the actual tournaments became confused 
    and, as a result, messed up the actual point distribution. Also, the Hunger Games underwent its second major rules overhaul 
    due to controversy surrounding the game again this year. In the end, Cole won the competition, beating Adam by one point. 
    However, point giving was banned after this year, but Cole's victory over Adam would only stay official until after year 
    6 was concluded. 
</p>
<br>
<a name="Year5"></a>
<h2>Year 5:</h2>
<p>In the fifth year of competitions, there were eight competitors again: Adam, Alan, Cole, Harrison, Jacob, 
    Kasey, Korey, and Nat; and the six competitions were, Magic the Gathering, Super Mario Galaxy 2 Speedrun, Hunger Games, 
    Super Smash Bros. Brawl, Air Hockey, and Super Smash Bros. 4. The biggest change was this year's point system, which now 
    gave out more points than in previous years: seven points for first, five points for second, four points for third, 
    two points for fourth, and one point for fifth and sixth. And if anyone tied in the competitions then they would 
    play Mairo Power Tennis to determine a winner. In addition, the tournament brackets changed from being single elimination
    to double elimination. Note: next to each person's placement in a tournament is their running 
    point total after that tournament was finished in parenthesis.</p>
<p>Here are the results:</p>
<table>
    <tr>
        <th></th>
        <th>Magic</th>
        <th>Galaxy 2</th>
        <th>Hunger Games</th>
        <th>Brawl</th>
        <th>Air Hockey</th>
        <th>Smash 4</th>
        <th class="divider">Final Scores</th>
        <th>Final Results</th>
    </tr>
    <tr>
        <th>Adam</th>
        <td class="first">1st (7)</td>
        <td class="first">1st (14)</td>
        <td class="third">3rd (18)</td>
        <td class="first">1st (25)</td>
        <td class="first">1st (32)</td>
        <td class="first">1st (39)</td>
        <td class="divider">39</td>
        <td class="first">1st</td>
    </tr>
    <tr>
        <th>Alan</th>
        <td>5th (1)</td>
        <td class="second">2nd (6)</td>
        <td>6th (7)</td>
        <td>4th (9)</td>
        <td>5th - Tie (10)</td>
        <td>5th - Tie (11)</td>
        <td class="divider">11.1</td>
        <td>5th</td>
    </tr>
    <tr>
        <th>Cole</th>
        <td class="third">3rd (4)</td>
        <td class="third">3rd (8)</td>
        <td>4th (10)</td>
        <td>7th - Tie (10)</td>
        <td class="third">3rd (14)</td>
        <td>7th - Tie (14)</td>
        <td class="divider">14.1</td>
        <td class="third">3rd</td>
    </tr>
    <tr>
        <th>Harrison</th>
        <td class="second">2nd (5)</td>
        <td>4th (7)</td>
        <td class="second">2nd (12)</td>
        <td>7th - Tie (12)</td>
        <td class="second">2nd (17)</td>
        <td class="third">3rd (21)</td>
        <td class="divider">21</td>
        <td class="second">2nd</td>
    </tr>
    <tr>
        <th>Jacob</th>
        <td>4th (2)</td>
        <td>7th - Tie (2)</td>
        <td>7th - Tie (2)</td>
        <td>5th - Tie (3)</td>
        <td>7th - Tie (3)</td>
        <td>7th - Tie (3)</td>
        <td class="divider">3</td>
        <td>8th</td>
    </tr>
    <tr>
        <th>Kasey</th>
        <td class="DNP">DNP (1)</td>
        <td>5th (2)</td>
        <td>8th (2)</td>
        <td class="third">3rd (6)</td>
        <td>5th (7)</td>
        <td>4th (9)</td>
        <td class="divider">9</td>
        <td>7th</td>
    </tr>
    <tr>
        <th>Korey</th>
        <td class="DNP">DNP (1)</td>
        <td>7th (1)</td>
        <td class="first">1st (8)</td>
        <td class="second">2nd (13)</td>
        <td>7th - Tie (13)</td>
        <td>5th - Tie (14)</td>
        <td class="divider">14</td>
        <td>4th</td>
    </tr>
    <tr>
        <th>Nat</th>
        <td class="DNP">DNP (1)</td>
        <td>6th (2)</td>
        <td>5th (3)</td>
        <td>5th - Tie (4)</td>
        <td>4th (6)</td>
        <td class="second">2nd (11)</td>
        <td class="divider">11</td>
        <td>6th</td>
    </tr>
</table>
<p>About halfway through this year's air hockey tournament, Adam had achieved enough points to be guarateed
    first place overall. This caused some people to boycott the final two tournaments. In addition, a movement began to make
    Alan's Birthday competitions less competitive, where Kasey, Korey, Jacob, and Nat pooled their votes to get in less 
    competitive tournaments for the next year. They also wanted to have team games instead of solo games. In addition, a 
    new pattern was declared in which Adam won the odd-numbered years and Cole won the even-numbered years.
</p>
<br>
<a name="Year6"></a>
<h2>Year 6:</h2>
<p>In the sixth year of competitions, there were twelve competitors, although only ten actually showed up: 
    Adam, Alan, Cole, Dakota, Harrison, Isaac, Kasey, Korey, Nat, and Zach. The six competitions this year were 
    Solo Hunger Games, Team Hunger Games, Hide and Seek, Mafia, Mario Kart Wii, and Super Smash Bros. 4. Also, this year's 
    tie breaker was rock-paper-scissors. In addition, this year's point system gave out even more than the last's: twelve 
    points for first, nine points for second, seven points for third, four points for fourth, two points for fifth, 
    one point for sixth, and half a point for seventh and eighth. Note: next to each person's placement in a tournament 
    is their running point total after that tournament was finished in parenthesis.</p>
<p>Here are the results:</p>
<table>
    <tr>
        <th></th>
        <th>Solo Hunger Games</th>
        <th>Team Hunger Games</th>
        <th>Hide and Seek</th>
        <th>Mafia</th>
        <th>Mario Kart</th>
        <th>Smash 4</th>
        <th class="divider">Final Scores</th>
        <th>Final Results</th>
    </tr>
    <tr>
        <th>Adam</th>
        <td class="second">2nd (9)</td>
        <td class="DNP">N/A</td>
        <td class="DNP">N/A</td>
        <td class="DNP">N/A</td>
        <td class="first">1st (21)</td>
        <td class="first">1st (33)</td>
        <td class="divider">33</td>
        <td class="first">1st</td>
    </tr>
    <tr>
        <th>Alan</th>
        <td>10th (0)</td>
        <td class="DNP">N/A</td>
        <td class="DNP">N/A</td>
        <td class="DNP">N/A</td>
        <td>7th (0.5)</td>
        <td>7th - Tie (1)</td>
        <td class="divider">1.1</td>
        <td>7th</td>
    </tr>
    <tr>
        <th>Cole</th>
        <td class="first">1st (12)</td>
        <td class="DNP">N/A</td>
        <td class="DNP">N/A</td>
        <td class="DNP">N/A</td>
        <td>6th (13)</td>
        <td>5th (15)</td>
        <td class="divider">15</td>
        <td>4th</td>
    </tr>
    <tr>
        <th>Dakota</th>
        <td>9th (0)</td>
        <td class="DNP">N/A</td>
        <td class="DNP">N/A</td>
        <td class="DNP">N/A</td>
        <td>8th (0.5)</td>
        <td>7th - Tie (1)</td>
        <td class="divider">1</td>
        <td>8th</td>
    </tr>
    <tr>
        <th>Harrison</th>
        <td class="third">3rd (7)</td>
        <td class="DNP">N/A</td>
        <td class="DNP">N/A</td>
        <td class="DNP">N/A</td>
        <td>5th (9)</td>
        <td class="second">2nd (18)</td>
        <td class="divider">18</td>
        <td class="second">2nd</td>
    </tr>
    <tr>
        <th>Isaac</th>
        <td>7th (0.5)</td>
        <td class="DNP">N/A</td>
        <td class="DNP">N/A</td>
        <td class="DNP">N/A</td>
        <td>10th (0.5)</td>
        <td>9th - Tie (0.5)</td>
        <td class="divider">0.5</td>
        <td>10th</td>
    </tr>
    <tr>
        <th>Kasey</th>
        <td>4th (4)</td>
        <td class="DNP">N/A</td>
        <td class="DNP">N/A</td>
        <td class="DNP">N/A</td>
        <td class="second">2nd (13)</td>
        <td>6th (14)</td>
        <td class="divider">14</td>
        <td>5th</td>
    </tr>
    <tr>
        <th>Korey</th>
        <td>6th (1)</td>
        <td class="DNP">N/A</td>
        <td class="DNP">N/A</td>
        <td class="DNP">N/A</td>
        <td class="third">3rd (8)</td>
        <td class="third">3rd (15)</td>
        <td class="divider">15.1</td>
        <td class="third">3th</td>
    </tr>
    <tr>
        <th>Nat</th>
        <td>5th (2)</td>
        <td class="DNP">N/A</td>
        <td class="DNP">N/A</td>
        <td class="DNP">N/A</td>
        <td>4th (6)</td>
        <td>4th (10)</td>
        <td class="divider">10</td>
        <td>6th</td>
    </tr>
    <tr>
        <th>Zach</th>
        <td>8th (0.5)</td>
        <td class="DNP">N/A</td>
        <td class="DNP">N/A</td>
        <td class="DNP">N/A</td>
        <td>9th (0.5)</td>
        <td>9th - Tie (0.5)</td>
        <td class="divider">0.6</td>
        <td>9th</td>
    </tr>
</table>
<p>Team Hunger Games, Hide and Seek, and Mafia all were cancelled this year for a few reasons.
    First, Team Hunger Games took too long without any deaths so we all agreed to call it after a few hours, resulting in 
    both it and hide and seek being cancelled. Mafia was played but the results were scrapped due to the tournament not 
    being very fair and cheating that took place by multiple competitors. In the end, this new "less-competitive" format
    was seen as a failure and we decided that for the next year we wanted a more traditional Alan's Birthday competition. 
    In addition, with Adam winning an even-numbered year competition, the pattern that was declared after the previous year 
    was broken and, after looking back on the events of year 4, we agreed to change the results to have Adam be the official 
    victor. 
</p>
<br>
<a name="Mini"></a>
<h2>Mini:</h2>
<p>About a week before the seventh competition we agreed to do a smaller competition since Nat was unable 
    to attend the actual competition. There were only five competitors: Adam, Alan, Cole, Harrison, and Nat. And there 
    were only three tournaments: Badminton, Battleship, and Super Smash Bros. 4. The point system was nine points for first, 
    six points for second, three points for third, and one point for fourth.
</p>
<p>Here are the results:</p>
<table>
    <tr>
        <th></th>
        <th>Badminton</th>
        <th>Battleship</th>
        <th>Smash 4</th>
        <th class="divider">Final Scores</th>
        <th>Final Results</th>
    </tr>
    <tr>
        <th>Adam</th>
        <td class="second">2nd (6)</td>
        <td class="first">1st (15)</td>
        <td class="first">1st (24)</td>
        <td class="divider">24</td>
        <td class="first">1st</td>
    </tr>
    <tr>
        <th>Alan</th>
        <td>5th (0)</td>
        <td class="third">3rd (3)</td>
        <td>4th (4)</td>
        <td class="divider">4</td>
        <td>5th</td>
    </tr>
    <tr>
        <th>Cole</th>
        <td class="first">1st (9)</td>
        <td class="second">2nd (15)</td>
        <td>5th (15)</td>
        <td class="divider">15</td>
        <td class="second">2nd</td>
    </tr>
    <tr>
        <th>Harrison</th>
        <td class="third">3rd (3)</td>
        <td>4th (4)</td>
        <td class="second">2nd (10)</td>
        <td class="divider">10</td>
        <td class="third">3rd</td>
    </tr>
    <tr>
        <th>Nat</th>
        <td>4th (1)</td>
        <td>5th (1)</td>
        <td class="third">3rd (4)</td>
        <td class="divider">4.1</td>
        <td>4th</td>
    </tr>
</table>
<p>While this year was one of the smallest, it was also certainly one of the least controversial. 
    The most controversial thing was Nat's tournament choice of battleship, which was seen as another less-competitive 
    game.
</p>
<br>
<a name="Year7"></a>
<h2>Year 7:</h2>
<p>The seventh year was seen as an attempt to revive the classical version of Alan's Birthday competitions. 
    This year had eight competitors: Adam, Alan, Cole, Dakota, Harrison, Isaac, Kasey, and Korey. And there were six
    tournaments: Hunger Games, Mario Kart Wii, Super Mario Bros. Speedrun, Foosball, Air Hockey, and Super Smash Bros. 4. 
    This year's point system was ten points for first, eight points for second, six points for third, four points for fourth, 
    three points for fifth, two points for sixth, and one points for seventh. 
</p>
<p>Here are the results:</p>
<table>
    <tr>
        <th></th>
        <th>Hunger Games</th>
        <th>Foosball</th>
        <th>Mario Bros.</th>
        <th>Mario Kart</th>
        <th>Air Hockey</th>
        <th>Smash 4</th>
        <th class="divider">Final Scores</th>
        <th>Final Results</th>
    </tr>
    <tr>
        <th>Adam</th>
        <td class="third">3rd (6)</td>
        <td class="first">1st (16)</td>
        <td class="first">1st (26)</td>
        <td class="first">1st (36)</td>
        <td class="first">1st (46)</td>
        <td class="first">1st (56)</td>
        <td class="divider">56</td>
        <td class="first">1st</td>
    </tr>
    <tr>
        <th>Alan</th>
        <td>6th (2)</td>
        <td class="second">2nd (10)</td>
        <td class="third">3rd (16)</td>
        <td>7th (17)</td>
        <td>6th (19)</td>
        <td>6th (21)</td>
        <td class="divider">21</td>
        <td>5th</td>
    </tr>
    <tr>
        <th>Cole</th>
        <td>7th (1)</td>
        <td>4th (5)</td>
        <td>4th (9)</td>
        <td>4th (13)</td>
        <td>4th (17)</td>
        <td>5th (20)</td>
        <td class="divider">20</td>
        <td>6th</td>
    </tr>
    <tr>
        <th>Dakota</th>
        <td>8th (0)</td>
        <td>8th (0)</td>
        <td>6th (2)</td>
        <td>6th (4)</td>
        <td>8th (4)</td>
        <td>7th (5)</td>
        <td class="divider">5</td>
        <td>8th</td>
    </tr>
    <tr>
        <th>Harrison</th>
        <td class="first">1st (10)</td>
        <td>5th (13)</td>
        <td class="second">2nd (21)</td>
        <td>5th (24)</td>
        <td class="second">2nd (32)</td>
        <td class="third">3rd (38)</td>
        <td class="divider">38</td>
        <td class="second">2nd</td>
    </tr>
    <tr>
        <th>Isaac</th>
        <td>5th (3)</td>
        <td class="third">3rd (9)</td>
        <td>8th (9)</td>
        <td>8th (9)</td>
        <td class="third">3rd (15)</td>
        <td>8th (15)</td>
        <td class="divider">15</td>
        <td>7th</td>
    </tr>
    <tr>
        <th>Kasey</th>
        <td class="second">2nd (8)</td>
        <td>6th (10)</td>
        <td>7th (11)</td>
        <td class="second">2nd (19)</td>
        <td>5th (22)</td>
        <td>4th (26)</td>
        <td class="divider">26</td>
        <td class="third">3rd</td>
    </tr>
    <tr>
        <th>Korey</th>
        <td>4th (4)</td>
        <td>7th (5)</td>
        <td>5th (8)</td>
        <td class="third">3rd (14)</td>
        <td>7th (15)</td>
        <td class="second">2nd (23)</td>
        <td class="divider">23</td>
        <td>4th</td>
    </tr>
</table>
<p>The seventh year was a year of relatively little controversy. The biggest controversies were over 
    how fair is the Hunger Games and what constitutes a fair point system, but both of these debates have been ongoing 
    since years 2 and 4 respectively. Ultimately, we would decide to have one final blowout Alan's Birhtday competition 
    during the next year where we would bring back (almost) all of the old tournaments and invite back everyone who has 
    competed in the competitions.
</p>