<h2>Welcome to the Unofficial Alan's Birthday Reunions Website!</h2>
<p>
    On this website you can find information about the current and future Alan's Birthday Reunion events under the 
    "Alan's Birthday Reunion" tab, the history and statistics of Alan's Birthday under the "Alan's Birthday History" 
    tab, and you can find other somewhat-related content under the "Other" tab.
</p>
<br><br>
<p>
    Here is a slideshow of images from the most recent competition in 2019 (check out the Competition History
    page)! The first eight are from the Hunger Games event, the second to last image is the standings before the final
    event,
    and the final image is a picture of Adam (in red) crossing the finish line of the Triathlon race to beat his
    opponent,
    McLean (in blue), thus winning the competition!
</p>
<div class="container">
    <div class="mySlides">
        <div class="numbertext">1 / 10</div>
        <img src="assets/group.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">2 / 10</div>
        <img src="assets/cornucopia.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">3 / 10</div>
        <img src="assets/alliance.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">4 / 10</div>
        <img src="assets/running.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">5 / 10</div>
        <img src="assets/table.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">6 / 10</div>
        <img src="assets/guard-modified.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">7 / 10</div>
        <img src="assets/topThree.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">8 / 10</div>
        <img src="assets/topTwo-modified.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">8 / 10</div>
        <img src="assets/topTwo-modified.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">9 / 10</div>
        <img src="assets/standings.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext">10 / 10</div>
        <img src="assets/adamWins.jpg" style="width:100%">
    </div>

    <a class="prev" onclick="backSlide()">&#10094;</a>
    <a class="next" onclick="advanceSlide()">&#10095;</a>
</div>
<br><br><br>
<script src="scripts/slideshow.js"></script>
<link rel="stylesheet" href="css/slideshow.css" type="text/css">