<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Alan's Birthday</title>
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-light navbar-expand">
        <img id="logo" src="./assets/logo.jpg">
        <div class="dropdown" id="nav1">
            <button class="dropbtn navbtn">Alan's Birthday Reunion</button>
            <div class="dropdown-content">
              <a href="./home.html">Home</a>
              <a href="#">Alan's Birthday X</a>
              <a href="#">Hunger Games</a>
              <a href="#">Alan Credits</a>
              <a href="#">Merch</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn navbtn">Alan's Birthday History</button>
            <div class="dropdown-content">
              <a href="./history-ABC.html">Alan's Birthday Classics (Years 1-7)</a>
              <a href="#">Alan's Birthday Ultimate (Year 8)</a>
              <a href="#">Alan's Birhtday Reunions (Years 9+)</a>
              <a href="./history-statistics.html">Statistics</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn navbtn" id="navLast">Other</button>
            <div class="dropdown-content">
              <a href="http://web.engr.oregonstate.edu/~granetoa/hexathlon/home">Hexathlon Games</a>
              <a href="#">Alan's Famous Quotes</a>
              <a href="#">YouTube</a>
              <a href="#">Grand Council</a>
            </div>
        </div>
    </nav>
    <header class="masthead">
        <h1 id="pageName">Alan's Birthday</h1>
    </header>
    <p class="summary"><br>Alan's Birthday is a closed, highly competitive competition of invited friends that takes place every summer. 
        It began way back in 2012 and has continued every year since then.
        There are always several tournaments and whoever wins by the largest margin overall is proclaimed the victor!</p>
    <div class="body">
        <p>This is the body of the page.</p>
    </div>
    <p class="summary footer">
        Thank you for viewing our website!<br>
        If you are looking for a competition, view the open competitions by clicking on Hexathlon Games under the Other tab.<br>
        Website made by Adam
    </p>
  </body>
</html>