<h2>Alan's Birthday X (Official) Hunger Games: </h2>
<p>
    The Hunger Games is an annual competition originating shortly after the first Alan's Birthday competition. 
    For Alan's Birthday X, it was split from a tournament and into a separate event. 
</p>
<br><br>
<h2>Unofficial Hunger Games: </h2>
<p>
    Occasional we do unofficial Hunger Games throughout the year. These Hunger Games sometimes have different rules, like banning alliances. If you're interested in competing, then contact Adam or Harrison so they can invite you to the Discord server. 
</p>
<br><br>
<h2>History of the Hunger Games: </h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/hJ_Pb_t5aW4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br>