<h2>Alan's Birthday X Overview:</h2>
<p>
    This year is the 10th ever year of Alan's Birthday competitions. 
    For this year, the competition has been split into five separate events:
    <ul>
        <li><a href="/hunger-games">Hunger Games</a></li>
        <li><a href="#Team">Team Event</a></li>
        <li><a href="#Individual">Individual Event</a></li>
        <li><a href="#Triathlon">Triathlon</a></li>
        <li><a href="#AlanCredits">Alan Credits</a></li>
    </ul>
    Each event is separate and will have its own overall winner.
    Note that there is a separate page for the <a href="/hunger-games">Hunger Games</a>.
</p>
<br><br>
<a name="Team"></a>
<h2>Team Event:</h2>
<p>
    Alan's Birthday has historically been dominated by individual games, but there have been movements in the past to get in team tournaments. 
    As a result, there is now a separate event of just team events. To decide teams, there will four captains based on who competing has the highest 
    Overall ELO scores (see <a href="history-statistics">Alan's Birthday Statistics</a>). These captains then drafted each of the remaining competitors to 
    form four teams of three: 
    <ul>
        <li>Team Adam, Noah, and Robert</li>
        <li>Team Brent, Dakota, and Jabez</li>
        <li>Team Harrison, Alan, and Nat</li>
        <li>Team McLean, Jack, and Nelson</li>
    </ul>
    There are six tournaments, one from each of the six categories of games:
    <ul>
        <li>Athletic:        Basketball</li>
        <li>Video Game:      Pokemon Unite</li>
        <li>Speedrun:        Super Mario Bros. Wii (co-op)</li>
        <li>Board/Card Game: Magic: The Gathering - Emperor</li>
        <li>Table Game:      Pool</li>
        <li>Smash Bros:      Ultimate: Squad Strike Elimination</li>
    </ul>
</p>
<br><br>
<a name="Individual"></a>
<h2>Individual Event:</h2>
<p>
    Alan's Birthday has typically been a series of six individual tournaments. This event is the continuation of 
    the classic Alan's Birthday formula. Like usual, there are six tournaments, one from each of the six categories of games:
    <ul>
        <li>Athletic:        Cornhole</li>
        <li>Video Game:      Mario Tennis Aces</li>
        <li>Speedrun:        Super Mario Bros. (NES)</li>
        <li>Board/Card Game: Chess</li>
        <li>Table Game:      Ping Pong</li>
        <li>Smash Bros:      Ultimate</li>
    </ul>
</p>
<br><br>
<a name="Triathlon"></a>
<h2>Triathlon:</h2>
<p>
    A new event for anyone who is up to the challenge! Anyone can opt in to do one race from any of the following distances: 
    <ul>
        <li>Super Sprint Distance</li>
        <li>Sprint Distance</li>
        <li>Olympic Distance</li>
        <li>Half Ironman*</li>
        <li>Full Ironman*</li>
    </ul>
    However, you can only do a Half Ironman if you have completed an Olympic Distance at Alan's Birthday Reunions in the past. 
    Likewise, you can only do a Full Ironman if you have completed a Half Ironman at Alan's Birthday Reunions in the past. 
    Competitors also have the choice of doing the full race in a single attempt, or breaking it into up to four days, doing a 
    minimum of six hours per day. 
</p>
<br><br>
<a name="AlanCredits"></a>
<h2>Alan Credits:</h2>
<p>
    Another new event, in which competitors use the Alan Credits currency to both bet and gamble with. For betting, you can bet on any 
    game from the individual or team events in which you are not competing in. In addition, you can bet on the winner of overall tournaments 
    from either event, including the Hunger Games, but only if you are not competing in said tournament. Lastly, you can also bet on whether 
    someone will complete the triathlon or not. You can go to the <a href="/betting">betting page</a> to determine betting odds for specific 
    matchups. Everyone will start with 302 Alan Credits, and more can be won in the following ways: 
    <ul>
        <li>Individual Event:<ul>
                <li>Winning a Game: 24</li>
                <li>1st in a Tournament: 302</li>
                <li>2nd in a Tournament: 150</li>
                <li>3rd in a Tournament: 76</li>
                <li>1st Overall: 1,810</li>
                <li>2nd Overall: 906</li>
                <li>3rd Overall: 452</li>
            </ul>
        </li>
        <li>Team Event (for each player on the team):<ul>
                <li>Winning a Game: 22</li>
                <li>1st in a Tournament: 50</li>
                <li>2nd in a Tournament: 25</li>
                <li>3rd in a Tournament: 13</li>
                <li>1st Overall: 302</li>
                <li>2nd Overall: 151</li>
                <li>3rd Overall: 75</li>
            </ul>
        </li>
        <li>Hunger Games:<ul>
                <li>Killing a Tribute: 36</li>
                <li>1st Overall: 453</li>
                <li>2nd Overall: 225</li>
                <li>3rd Overall: 114</li>
            </ul>
        </li>
        <li>Triathlon:<ul>
                <li>Completion Super Sprint Distance Triathlon: 302</li>
                <li>Completion: Sprint Distance Triathlon: 604</li>
                <li>Completion: Olympic Triathlon: 1,208</li>
                <li>Completion: Half Ironman: 2,416</li>
                <li>Completion: Full Ironman: 4,832</li>
                <li>Triathlon (Olympic+) 1st Overall: 1,810</li>
                <li>Triathlon (Olympic+) 2nd Overall: 905</li>
                <li>Triathlon (Olympic+) 3rd Overall: 453</li>
            </ul>
        </li>
    </ul>
</p>
<br><br>